.ticket {
    width: 4in;
    font-family: monospace;
}
header {
    position: relative;
    padding-left: 150px;
}
header img.logo {
    position: absolute;
    left: -20px;
    top: -20px;
}
header .name {
    font-weight: bold;
    display: block;
}

textarea {
    border: none;
    width: 100%;
    display: block;
    font-size: inherit;
    font-family: monospace;
    /*white-space: pre;*/
    margin: 1em 0px;
    resize: vertical;
}
pre.title {
    margin: 2em 0px;
}
pre.center {
    width: 100%;
    text-align: center;
}

ul {
    margin: 0;
    width: 100%;
    padding: 0px;
}
ul li {
    list-style-type: none;
    padding: 0.66em 0px;
    position: relative;
    padding-left: 3em;
    margin-left: -3em;
}
ul.sum li {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
ul.sum li.sep {
    display: block;
    height: 1em;
}
ul input {
    font-size: inherit;
    font-family: monospace;
    margin: 0px;
    border: none;
}
ul input.desc {
    width: 100%;
}
ul input.label {
    width: 78%;
    text-align: right;
}
ul input.price {
    position: absolute;
    right: 0px;
    width: 5em;
    text-align: right;
    background-color: rgba(255,255,255,0);
}
input.invalid {
    color: red;
}

ul a.delete {
    position: absolute;
    left: 1.5em;
    top: 0.66em;
    display: none;
}

ul li:hover a.delete {
    display: block;
}